.App {
  display: grid;
  height: 100vh;
  overflow: hidden;
  grid-template: repeat(1, 1fr) / repeat(4, 1fr);


}
.Bar {
  background-color: #252525;
  color: white;
  overflow: auto;
}

.content {
  grid-column: 2/5;
  background-color: #e6e6e6;
}